// Customize bootstrap
$primary-color: #343a40;
$secondary-color: #ff7043;
$dark-primary: darken($primary-color, 8%);
$bg-primary-text-color: #ffffff;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color
);

// UI variables
$top-nav-height: 56px;
$side-nav-width-expanded: 250px;
$side-nav-width-collapsed: 50px;
$side-nav-font-color: #868e96;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
